@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Imports Google Font Poppins */

:root {
    --small: 10px;
    --medium: 20px;
    --large: 40px;
    line-height: 1.4;

    --primary: #a39be3;
    --secondary: #7a2268;
    --background: rgba(6, 5, 20, 0.8);
    --background-image: url("./Backgrounds/island-dark.webp");
    --overlay: rgba(6, 5, 20, 0.4);


    --primary-text: #e7e6f7;
    --secondary-text: #131B23;

    --nav-background: rgb(6, 5, 20, 0.8);
    --nav-text: #e7e6f7;
    --exit-filter: invert(100%) sepia(0%) saturate(1513%) hue-rotate(233deg) brightness(107%) contrast(101%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* smooth scrolling */
}


/* CSS for the Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(9, 18, 31, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 25px;
    border: none;
}

/* .............................................. */


/* Styling for the body */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: var(--primary-text);
    background-color: var(--background);

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* blur the background only */
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: rockwell;
}

button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

a:is(:hover, :focus) {
    text-decoration: underline var(--primary);
}

.button {
    padding: var(--small);
    border-radius: var(--small);
    background-color: var(--primary);
    color: var(--secondary-text);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.button:is(:hover, :focus) {
    background-color: var(--secondary);
    color: var(--primary-text);
}

html {
    scroll-behavior: smooth;
    /* smooth scrolling */
    scroll-padding-top: 100px;
    /* height of the navbar */
}

header {
    height: 80px;
    padding: 0 16px;
    background-color: var(--primary);
    color: var(--secondary-text);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow:
        rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 6px;
}

.navigation-bar .icon {
    width: 48px;
    height: 48px;
    padding: 6px;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
}


.navigation-bar button:is(:hover, :focus) {
    border-radius: 50%;
    background-color: var(--primary-text);
}

.exit {
    filter: var(--exit-filter);
}

.exit:is(:hover, :focus) {
    filter: invert(19%) sepia(81%) saturate(6752%) hue-rotate(357deg) brightness(106%) contrast(123%);
}

.quick-nav,
.quick-settings {
    top: 0;
    background-color: var(--nav-background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    position: fixed;
    box-shadow:
        rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeInAnimation ease-in-out 0.5s forwards;
    z-index: 10;
    gap: var(--small);
    color: var(--nav-text);
    backdrop-filter: blur(10px);
}

.nav-link {
    color: var(--nav-text);
}

.quick-nav {
    left: 0;
}

.quick-settings {
    right: 0;
}

.quick-nav-content,
.quick-settings-content {
    display: flex;
    flex-direction: column;
    gap: var(--large);
    padding: var(--small);
}

.quick-nav-content {
    font-size: 1.6em;
    padding-left: var(--large);
}

.quick-nav-headline,
.quick-settings-headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: var(--small);
    background-color: var(--nav-background);
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.5s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        width: 0px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        width: 350px;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        width: 350px;
        visibility: visible;
    }

    100% {
        opacity: 0;
        width: 0px;
        visibility: hidden;
    }
}

/* Switch button  */
.menu-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.menu-label {
    white-space: nowrap;
    font-size: 1.3em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--secondary-text);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: var(--secondary);
}

.switch input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#overlay {
    background-color: var(--overlay);
}



/* -------------------------------------------------- */




/* Styling for the main content - aimed for small mobile devices */
main {
    margin: 0 auto;
    /* Centers the content */
    padding: var(--small);
    display: grid;
    grid-template-areas:
        "intro"
        "about"
        "experience"
        "projects"
        "contact";
    /* Setting grid to 1 column by default */
    gap: var(--large);
    box-sizing: content-box;
    /* Prevents the content from overflowing */
    max-width: 900px;
}

.content-box {
    background-color: var(--background);
    border: none;
    border-radius: var(--small);
    padding: var(--small);
    position: relative;
}

#home {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: intro;
}

#about {
    grid-area: about;
    border: 4px solid var(--primary);
    display: flex;
    flex-direction: column;
}

#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
    height: min-content;
}


#intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr min-content min-content;
    justify-items: center;
    gap: var(--small);
    background: none;
}

#typed {
    height: 3em;
}

#typing-text {
    display: inline-block;
    font-size: 1em;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}


/* .............................................. */

.about-section {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}


/* CSS for the Profile Picture */
#pfp {
    /* zoom into the image to make it a circle */
    width: 50%;
    object-fit: contain;
    border-radius: 20%;
    margin: 0 auto;
}


.description {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    align-items: center;
    text-wrap: balance;
    text-align: center;
}

#experience {
    display: flex;
    flex-direction: column;
}


/* .............................................. */


/* CSS for the Social Media logo-icons */
.logo-icons {
    display: flex;
    flex-direction: row;
    gap: var(--small);
    padding: var(--small);
    justify-content: center;
}

.logo-icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    border: solid var(--primary-text);

    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    transition: all 0.2s ease-in-out;

}

.logo-icon:is(:hover, :focus) {
    border-radius: 50%;
}                       


.linkedin:is(:hover, :focus) {
    background-color: #007ab9;
}

.email:is(:hover, :focus) {
    background-color: #60c1f5;
}

.github:is(:hover, :focus) {
    background-color: #985ef0;
}

.iconImg {
    width: 75%;
    height: 75%;
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(1513%) hue-rotate(233deg) brightness(107%) contrast(101%);
}

.info-box {
    padding: var(--small);
    border-radius: var(--small);
}

.info-box:is(:hover, :focus) {
    background-color: var(--secondary);
    cursor: pointer;
}

.work-info, .education-info {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    padding: var(--small) 0;
    flex-grow: 1;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    padding: var(--small) 0;
}

.project {
    display: flex;
    flex-direction: column;
    padding: var(--small);
    justify-content: space-between;
    border-radius: var(--small);

}

.experience-list, .project-list {
    padding: 0 var(--small);
    gap: var(--small);
}

.project-list {
    padding: var(--small);
    display: flex;
    flex-direction: column;
    gap: var(--small);
    flex: 1;
}

.git-link {
    text-decoration: underline var(--primary);
    width: fit-content;
    align-self: center;
}

.github-stats {
    align-items: center;
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--primary);
    color: var(--secondary-text);
    width: 100%;
    text-align: center;
    padding: var(--small);
}



/* Media Queries for device responsiveness */

/*  Larger Mobile Devices   */
@media screen and (min-width:425px) {
    body {
        font-size: 1.1em;
    }

    .logo-icons {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .github-stats {
        max-width: 80%;
    }
}

/*  Tablets   */
@media screen and (min-width:720px) {
    :root {
        --small: 18px;
        --large: 50px;
    }

    header {
        display: flex;
    }

    .info-box {
    border: white 2px solid;

    }

    .project {
        background-color: var(--background);
        border: solid 2px white;
    }


}

/*  Small laptops   */
@media screen and (min-width:900px) {

    body {
        font-size: 1.2em;
    }

    .github-stats {
        max-width: 60%;
    }


}

/*  Desktops and laptops   */
@media screen and (min-width:1024px) {

    .quick-nav,
    .quick-settings {
        max-width: 500px;
    }

    main {
        grid-template-areas:
            "intro intro intro"
            "about about contact"
            "about about experience"
            "projects projects projects";
        gap: var(--large);
    }

    .work,
    .education {
        display: none;
    }

    .project-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .github-stats {
        max-width: 100%;
    }

}

/*  Large Desktops and laptops   */

@media screen and (min-width:1280px) {
    :root {
        --small: 20px;
        --large: 60px;
    }

    body {
        font-size: 1.4em;
    }

    main {
        max-width: 1200px;
    }

    .quick-nav,
    .quick-settings {
        max-width: 600px;
    }

    .github-stats {
        max-width: 100%;
    }
}