@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Imports Google Font Poppins */

:root {
    --small: 10px;
    --large: 40px;
    line-height: 1.4;

    --primary: #a39be3;
    --secondary: #7a2268;
    --accent: #e7e7e7;
    --background: #08007f;
    --primary-text: #e7e6f7;
    --secondary-text: #131B23;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* smooth scrolling */
}


/* CSS for the Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(9, 18, 31, 1);
}

/* Handle */
::-webkit-scrollbar-thumb { 
    background: #8d8d8d;
    border-radius: 25px;
    border: none;
}

/* .............................................. */


/* Styling for the body */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: var(--primary-text);
    background-color: var(--background);
    background-image: url("./Backgrounds/island.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:focus {
    outline: revert
}

html {
    scroll-behavior: smooth;
}

header {
    height: 80px;
    padding: 0 16px;
    background-color: var(--primary);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow:
        rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 6px;
}

.navigation-bar .icon {
    width: 48px;
    height: 48px;
    padding: 6px;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
}

.navigation-bar button:hover,
.navigation-bar button:focus {
    background-color: var(--primary);
    border-radius: 50%;
}


.quick-nav,
.quick-settings {
    top: 0;
    background-color: var(--secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    padding: 16px 25px;
    position: fixed;
    gap: var(--large);
    box-shadow:
        rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeInAnimation ease-in-out 0.5s forwards;
    z-index: 10;
}

.quick-nav {
    left: 0;
}

.quick-settings {
    right: 0;
}

.quick-nav-content,
.quick-settings-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quick-nav-headline,
.quick-settings-headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.5s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        width: 0px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        width: 350px;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        width: 350px;
        visibility: visible;
    }

    100% {
        opacity: 0;
        width: 0px;
        visibility: hidden;
    }
}

/* Switch button  */
.switch-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content:
        space-between;
}

.switch-label {
    white-space: nowrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--secondary-text);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: var(--primary);
}

.switch input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Styling for the main content - aimed for small mobile devices */
main {
    margin: 0 auto;
    /* Centers the content */
    padding: var(--small);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Setting grid to 1 column by default */
    gap: var(--large);
    box-sizing: content-box;

}

.content-box {
    background-color: var(--background);
    border: none;
    border-radius: var(--small);
    padding: var(--small);
    position: relative;
}

#intro-box {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr min-content min-content;
    justify-items: center;
    gap: var(--small);
    background: none;
}

#typing-text {
    display: flex;
    padding: var(--small);
    align-items: center;
    font-size: 1em;
    height: 3em;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: column;
    gap: var(--small);

}

/* CSS for the Social Media logo-icons */
.logo-icons {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    width: 50%;
    margin: 0 auto;
    gap: var(--small);
    padding: var(--small);
    box-sizing: content-box;
    justify-content: center;
}

.logo-icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.5);

    /* transition-property: outline-offset, outline-color, background-color; */
    transition-duration: 1s;
}

.logo-icon:hover {
    animation: SocialSpin 1s ease 0s 1 normal forwards;
}

.instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
}

.linkedin:hover {
    background-color: #007ab9;
}

.email:hover {
    background-color: #0077b5;
}

.github:hover {
    background-color: #9243da;
}

.iconImg {
    width: 75%;
    height: 75%;
    margin: auto;
    fill:white; 
}

/* .............................................. */




/* CSS for the Profile Picture */
#pfp {
    /* zoom into the image to make it a circle */
    width: 50%;
    object-fit:contain;
    border-radius: 50%;
    border: 5px solid #000000;

}

/* .............................................. */



.project-list {
    padding: var(--small) var(--large);
}


footer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: var(--small);
}



/* CSS to spin the social media logo-icons 360 degrees */
@keyframes SocialSpin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .............................................. */



/* Media Queries for device responsiveness */

/*  Larger Mobile Devices   */
@media screen and (min-width:425px) {
    .logo-icons {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
}

/*  Tablets   */
@media screen and (min-width:720px) {
    header{
        display: flex;
    }

    #intro-box {
        display: none;
    }

}

/*  Desktops and laptops   */
@media screen and (min-width:1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--large);
    }

    #about {
        grid-column: span 2;
    }

    #projects {
        grid-column: span 3;
    }

}