@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Imports Google Font Poppins */

:root {
    --small: 10px;
    --large: 40px;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* smooth scrolling */
}


/* CSS for the Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(9, 18, 31, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 25px;
    border: none;
}

/* .............................................. */


/* Styling for the body */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #e7e7e7;
    background-color: #000000;
    background-image: url("./Backgrounds/Midnight-Stroll.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}


header {
    background-color: rgb(54, 64, 115, 0.8);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--small);
}

/* Styling for header navigation links */
header ul {
    display: none;
    flex-direction: row;
    list-style: none;
    gap: var(--large);
}


/* Changes the colour of header items if they are being focused by mouse or keyboard */
.header-links:hover,
.header-links:focus {
    cursor: pointer;
    color: #ef3e36;
    outline: none;
}

/* Styling for general links */
a {
    text-decoration: none;
    /* Removes underline from links */
    color: #fff;
}

/* Styling for logo and button */
#logo,
button,
h1 {
    font-family: 'Rockwell';
    color: #fff;
}

#logo {
    font-size: 3em;
    text-align: left;
}

button {
    font-size: 1em;
    border-radius: var(--small);
    padding: var(--small);
    border: none;
    background-color: #19325b;
}

/* Styling for the main content - aimed for small mobile devices */
main {
    margin: 0 auto;
    /* Centers the content */
    padding: var(--small);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Setting grid to 1 column by default */
    gap: var(--large);
    box-sizing: content-box;
    /* Setting box-sizing to content-box to prevent padding from affecting the width of the container */
    background-color: rgba(0, 0, 0, 0.3);
}


#intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr min-content min-content;
    /* gap: var(--small); */
    justify-items: center;

}

#typing-text {
    display: flex;
    padding: var(--small);
    align-items: center;
    font-size: 1em;
    height: 3em;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: column;
    gap: var(--small);

}

/* Styling for suggested content */
.content-box {
    background-color: rgba(9, 18, 31, 0.6);
    border: none;
    border-radius: var(--small);
    padding: var(--small);
}

/* Ensures the buttons are responsive and fit the container for the movie cards*/
#intro-btn {
    background-color: #170f12;
    padding: var(--small) var(--large);
}



/* CSS for the Social Media Icons */
.icons {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    width: 50%;
    margin: 0 auto;
    gap: var(--small);
    padding: var(--small);
    box-sizing: content-box;
    justify-content: center;
}

.icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.5);

    /* transition-property: outline-offset, outline-color, background-color; */
    transition-duration: 1s;
}

.icon:hover {
    animation: SocialSpin 1s ease 0s 1 normal forwards;
}

.instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
}

.linkedin:hover {
    background-color: #007ab9;
}

.email:hover {
    background-color: #0077b5;
}

.github:hover {
    background-color: #9243da;
}

.iconImg {
    width: 75%;
    height: 75%;
    margin: auto;
    fill:white; 
}

/* .............................................. */




/* CSS for the Profile Picture */
#pfp {
    /* zoom into the image to make it a circle */
    width: 50%;
    object-fit:contain;
    border-radius: 50%;
    border: 5px solid #000000;

}

/* .............................................. */



footer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: var(--small);
}








/* CSS to spin the social media icons 360 degrees */
@keyframes SocialSpin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .............................................. */



/* Media Queries for device responsiveness */

/*  Larger Mobile Devices   */
@media screen and (min-width:425px) {
    .icons {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
}

/*  Tablets   */
@media screen and (min-width:720px) {
    header {
        display: flex;
    }

    #intro-box {
        display: none;
    }

}

/*  Desktops and laptops   */
@media screen and (min-width:1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--large);
    }

  

    #projects {
        grid-column: span 2;
    }

}